.cabecalho{
    background-color: #272727;
    width: 100%;

}

.cabecalho__logo{
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: initial;
    background-position-y: -64px;
    padding: 40px 100px;
    width: 100%;
    cursor: pointer;

    height: 50px;
}